/* CSS Document */

/*Dark*/
.rd-text-dark,
.rd-copyright-footer a,
.dropdown-item {
	color: #023d4d;
}

.rd-color-bg-dark,
.rd-title-strip-dark::before,
.rd-button-effect1::before,
.rd-button-effect1::after {
	background-color: #023d4d;
}

/*Green*/
.rd-text-green,
.rd-features-list-green .rd-features-list-item::before {
	color: #41b680;
}

.rd-color-bg-green,
.rd-title-strip-green::before {
	background-color: #41b680;
}

/*Orange*/
.rd-features-list-orange .rd-features-list-item::before {
	color: #f16c1f;
}

.rd-color-bg-orange,
.rd-title-strip-orange::before,
.rd-button.rd-color-bg-orange:hover {
	background-color: #f16c1f;
}

/*yellow*/
.rd-features-list-yellow .rd-features-list-item::before {
	color: #fcba30;
}

.rd-color-bg-yellow,
.rd-title-strip-yellow::before,
.rd-button.rd-color-bg-yellow:hover {
	background-color: #fcba30;
}

/*red*/
.rd-features-list-red .rd-features-list-item::before {
	color: #f15d34;
}

.rd-color-bg-red,
.rd-title-strip-red::before,
.rd-button.rd-color-bg-red:hover {
	background-color: #f15d34;
}

/*White*/
.rd-color-white,
.rd-blog-title,
.rd-blog-title a,
.rd-footer-list li a,
.rd-button-effect1:hover {
	color: #fff;
}

.rd-color-bg-white,
.rd-copyright-footer,
.rd-contact-form-box {
	background-color: #fff;
}

/* Gray-Blue */
.rd-color-grayBlue {
	color: #342f3f;
}

/* Dark Grayish Blue */
.rd-bg-dark-grayish-blue {
	background-color: #202c34;
}

/* Orient Blue */
.rd-bg-orient-blue {
	background-color: #0c9aa3;
}

/* Purple */
.rd-bg-purple {
	background-color: #242b55;
}



/*----------------*/
/* Gradient */
/*----------------*/

/* Green*/
.rd-gradient-bg-green,
.rd-title-strip-gradient-green::before {
	background-color: #41b680;
	background-image: -webkit-linear-gradient(114deg, #40b680, #0c9a8e);
	background-image: -moz-linear-gradient(114deg, #40b680, #0c9a8e);
	background-image: linear-gradient(114deg, #40b680, #0c9a8e);
}


/*Blue*/
.rd-gradient-bg-blue,
.rd-title-strip-blue::before {
	background-image: -webkit-linear-gradient(256deg, #35acf4, #2638c4);
	background-image: -moz-linear-gradient(256deg, #35acf4, #2638c4);
	background-image: linear-gradient(256deg, #35acf4, #2638c4);
}


/* Dark Blue */
.rd-gradient-bg-dark-blue {
	background-image: -webkit-linear-gradient(114deg, #003a81, #001d41);
	background-image: -moz-linear-gradient(114deg, #003a81, #001d41);
	background-image: linear-gradient(114deg, #003a81, #001d41);
}


/* Sky Blue */
.rd-gradient-bg-sky-blue {
	background-image: -webkit-linear-gradient(114deg, #2da0e3, #1c7cb4);
	background-image: -moz-linear-gradient(114deg, #2da0e3, #1c7cb4);
	background-image: linear-gradient(114deg, #2da0e3, #1c7cb4);
}


/* Orient Blue */
.rd-gradient-bg-orient-blue {
	background-image: -webkit-linear-gradient(72deg, #326483 10%, #0c9aa3 90%);
	background-image: -moz-linear-gradient(72deg, #326483 10%, #0c9aa3 90%);
	background-image: linear-gradient(72deg, #326483 10%, #0c9aa3 90%);
}


/* Yellow */
.rd-gradient-bg-yellow {
	background-image: -webkit-linear-gradient(114deg, rgba(252, 186, 48, 0.7), rgba(253, 171, 0, 0.7) 100%);
	background-image: -moz-linear-gradient(114deg, rgba(252, 186, 48, 0.7), rgba(253, 171, 0, 0.7) 100%);
	background-image: linear-gradient(114deg, rgba(252, 186, 48, 0.7), rgba(253, 171, 0, 0.7) 100%);
}
