/* Responsive CSS */


/* Breakpoint max-width 991px */
@media only screen and (max-width: 991.98px) {
    .rd-testimonial-logo-wrap {
        min-height: 140px;
    }

    .rd-container-1170 {
        max-width: 760px;
        padding: 50px;
    }

    /* Banner progress slider */
    .container-el.el-ly .el .container-illu {
        height: 227px;
        width: 339px;
        max-width: 100%;
        margin: auto;
    }

    #section-home .container-caroussel>.btn {
        display: none;
    }

    #section-home {
        height: 400px;
    }

    /* Browser Frame */
    .rd-browser-frame {
        height: 480px;
    }

    /* Features */
    .rd-features-list {
        font-size: 22px;
    }

    .rd-features-list li {
        margin-right: 20px;
    }
}

/* Breakpoint max-width 767px */
@media only screen and (max-width: 767.98px) {
    .rd-content-box-wrap {
        max-width: 540px;
        margin: auto;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 0;
    }

    .rd-image-box {
        padding-top: 100px;
    }

    .rd-mobile-app-img {
        margin-right: 0;
        margin-bottom: -60px;
    }

    .rd-one-gift-img,
    .rd-onshor-img {
        margin-left: 0;
        margin-bottom: -18%;
    }

    .rd-nomad-img,
    .rd-nobs-img {
        margin-right: 0;
        margin-bottom: -18%;
    }

    .rd-pt-65 {
        padding-top: 40px;
    }

    .rd-pb-65 {
        padding-bottom: 40px;
    }
}

/* Breakpoint max-width 575px */
@media only screen and (max-width: 575.98px) {
    .rd-content-box-wrap {
        padding-left: 0;
        padding-right: 0;
    }
}


/* Breakpoint max-width 480px */
@media only screen and (max-width: 480px) {

    /* Logo */
    .rd-logo-text {
        font-size: 24px;
    }


    /* Title */
    .rd-title {
        font-size: 32px;
        line-height: 1.2;
    }

    .rd-contact-form-box {
        padding: 40px 20px;
    }

    .rd-footer-logo-text {
        font-size: 34px;
    }

    .rd-clip-bg-bottom-right {
        clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
    }

    .rd-clip-bg-top-left {
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
    }


    /* Home Banner slider */
    .container-el.el-ly .el .desc,
    .container-el.el-ly .el.mobile .desc {
        width: 100%;
    }

    .container-el.el-ly .el .desc h2,
    .container-el.el-ly .el .desc .container-p {
        width: 100%;
        display: block;
        text-align: center;
    }

    .container-el.el-ly .el .desc h2 {
        padding-right: 0;
        padding-bottom: 20px;
    }

    .container-el.el-ly .el .desc .container-p p {
        text-align: center;
    }


    /* Browser Frame */
    .rd-browser-frame {
        height: 320px;
    }
}